<!--PRICING SECTION START-->
<body id="bckgrd">
  <div class="container">
    <section id="pricing" >
        <div class="row text-center header animate-in"data-anim-type ="fade-in-up">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Nos Formules verres</h3>
            <hr />
          </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <div class="row db-padding-btm db-attached">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="light-pricing ">
                  <div class="price">
                    <sup>€</sup>69
                    <small>à partir de</small>
                  </div>
                  <div class="type">
                    Classique
                  </div>
                  <ul>
                    <li><i class="glyphicon glyphicon-tags"></i>  Simples: 69€ / verre</li>
                    <li><i class="glyphicon glyphicon-tags"></i>  Progressifs: 189€ / verre</li>
                    <li><i class="glyphicon glyphicon-check"></i> Avec traitement de surface</li>
                  </ul>
                  <div class="pricing-footer">
                    <!-- <a href="#" class="btn button-custom btn-custom-one">Imprimez votre reduction</a> -->
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="light-pricing popular">
                  <div class="price">
                    <sup>€</sup>129
                    <small>à partir de</small>
                  </div>
                  <div class="type">
                    Medium
                  </div>
                  <ul>
                    <li><i class="glyphicon glyphicon-tags"></i>  Simples: 129€ / verre </li>
                    <li><i class="glyphicon glyphicon-tags"></i>  Progressifs: 259€ / verre</li>
                    <li><i class="glyphicon glyphicon-check"></i>Avec traitement de surface + aminci moyen</li>
                  </ul>
                  <div class="pricing-footer">
                    <!-- <a href="#" class="btn button-custom btn-custom-one">Imprimez votre reduction</a> -->
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="light-pricing">
                  <div class="price">
                    <sup>€</sup>229
                    <small>à partir de</small>
                  </div>
                  <div class="type">
                    Premium
                  </div>
                  <ul>
                    <li><i class="glyphicon glyphicon-tags"></i>  Simples: 229€ / verre </li>
                    <li><i class="glyphicon glyphicon-tags"></i>  Progressifs: 359€ / verre</li>
                    <li><i class="glyphicon glyphicon-check"></i> Avec traitement de surface + très aminci</li>
                  </ul>
                  <div class="pricing-footer">
                   <!--  <a href="#" class="btn button-custom btn-custom-one">Imprimez votre reduction</a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
</body>
