<!--SERVICE SECTION START-->
<body id="bckgrd">
      <div class="container">
    <section id="services" >
        <div class="row text-center header">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in" data-anim-type="fade-in-up">
            <h3>Nos Services</h3>
            <hr />
          </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="services-wrapper">
              <i class="ionicons ion-android-bicycle"></i>
              <h3>Vous n'avancez pas les frais</h3>
              1/3 payant sécurité sociale et mutuelles. Dans tous les cas présentez votre carte de mutuelle à votre opticien.
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="services-wrapper">
              <i class="ionicons ion-pricetag"></i>
              <h3>Nos tarifs sont affichés</h3>
              Nous vous garantissons des produits et traitements haut de gamme.
              Technologie Freefrom haut de gamme sur vos verres progressifs.
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="services-wrapper">
              <i class="ionicons ion-ribbon-b"></i>
              <h3>Garantie adaptation 3 mois, tous types de verres</h3>
              Nous nous engageons à vous apporter entière satisfaction et en cas d'inadaptation visuelle nous remplaçons les verres si nécessaire.
              <br>
              Dans le cas des verres progressifs, nous nous engageons à échanger vos verres par une paire de verres vision de loin et une paire de verres vision de près.
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="services-wrapper">
              <i class="ionicons ion-bag"></i>
              <h3>Entretien et ajustage gratuit</h3>
              Pour vous assurer un confort optimal, nous sommes à votre disposition pour effectuer tous les règlages nécessaires: ajustage et nettoyage complet.
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="services-wrapper">
              <i class="ion-erlenmeyer-flask"></i>
              <h3>Facilité de paiement</h3>
              Nous pouvons vous proposer des facilités de paiement (voir conditions en magasin).
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="services-wrapper">
              <i class="ion-monitor"></i>
              <h3>Vos montures sont garanties 1 an</h3>
              Nous pouvons vous proposer des facilités de paiement (voir conditions en magasin).
            </div>
          </div>
        </div>
      </div>
    </section>
</body>

