/*============================
PRICING SECTION STYLES
==============================*/

.light-pricing {
border-radius: 5px;
margin-bottom: 30px;
margin-top: 50px;
text-align: center;
box-shadow: 0 0 5px rgba(0, 0, 0, .5);
// background-color: rgba(255, 255, 255, 0.1);
height: 550px;
// background-color: grey;
// color: #fff;
color: black;
line-height: 30px;
cursor: pointer;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.light-pricing:hover {
// background-color: transparent;
background-color: light-grey;
}

.light-pricing ul {
list-style: none;
margin: 0;
text-align: center;
padding-left: 0px;
}

.light-pricing ul li {
padding-top: 20px;
padding-bottom: 20px;
cursor: pointer;
}

.light-pricing ul li i {
margin-right: 5px;
}


.light-pricing .price {
padding: 40px 20px 20px 20px;
font-size: 60px;
font-weight: 900;
}

.light-pricing .price small {
color: #000;
display: block;
font-size: 15px;
margin-top: 22px;
}

.light-pricing .type {
// background-color: rgba(0, 0, 0, 0.40);
padding: 30px 20px;
font-weight: 900;
text-transform: uppercase;
font-size: 30px;
color: rgb(40, 141, 203);
}

.light-pricing .pricing-footer {
  padding: 0px;
}

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
padding-left: 0;
padding-right: 0;
}

.light-pricing.popular {
margin-top: 10px;
}

.light-pricing.popular .price {
padding-top: 80px;
}
