/* =============================================================
SERVICES SECTION STYLES
============================================================ */

#services .services-wrapper {
padding: 20px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 40px;
background-color: rgba(255, 255, 255, 0.07);
// background-color: grey;
cursor: pointer;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

#services .services-wrapper:hover {
// background-color: rgba(255, 255, 255, 0.20);
background-color: grey;
}

#services h3 {
// font-family: 'Oswald', sans-serif;
color: black;
}

#services .services-wrapper i {
margin: 5px;
color: rgb(40, 141, 203);
font-size: 60px;
}
